@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using System.Linq
@using System.IO
@using System.Text.RegularExpressions
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Dashboard.Resources
@using Hangfire.JobsLogger.Server
@using Hangfire.JobsLogger.Helper
@using Hangfire.JobsLogger.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage("Logs");
    var loggerContext = new LoggerContext();

    string jobId = Util.GetFileNameFromURL(RequestPath);

    if (!int.TryParse(Query("from"), out int from) ||
        !int.TryParse(Query("count"), out int perPage))
    {
        from = 0;
        perPage = 10;
    }

    var totalLogs = loggerContext.GetCounterValue(Storage.GetConnection(), jobId);
    var jobLogs = loggerContext.GetLogMessagesByJobId(Storage.GetConnection(), jobId, ++from, perPage);

    var pager = new Pager(from, perPage, totalLogs);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        <h1 class="page-header">Logs</h1>
        @{
            if (!jobLogs.Any())
            {
                <div class="logs">
                    There are no logs found yet.
                </div>
            }
            else
            {
                <div class="table-responsive">
                    @Html.PerPageSelector(pager)
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="min-width">Log Level</th>
                                <th>Message</th>
                                <th class="min-width align-right">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in jobLogs)
                            {
                                var logColor = Util.GetColorByLogLevel(log.LogLevel);

                                <tr class="js-jobs-list-row">
                                    <td class="min-width">
                                        <span class="badge" style="background-color: rgba(@logColor.R, @logColor.G, @logColor.B, @logColor.A);">
                                            <span class="text-center" style="text-decoration: none;">@log.LogLevel</span>
                                        </span>
                                    </td>
                                    <td>@log.Message</td>
                                    <td class="min-width align-right">@Html.RelativeTime(@log.DateCreation)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Paginator(pager)
                </div>
            }
        }
    </div>
</div>